androidstorage4kivy==0.1.1
Kivy==2.3.1
Kivy_examples==2.3.1
kivy_garden.mapview==1.0.6
kivymd==2.0.1.dev0
materialyoucolor==2.0.10
Pillow==11.2.1
plyer==2.1.0
pyjnius==1.6.1
pywebview==5.4
Requests==2.32.3
setuptools==80.1.0
